* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

/*Header start-------------------------------------------------*/
header{
    background-color: rgba(1, 1, 1, 0.7);
    color: white;
    position: fixed;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.searchbar{
    padding-left: 8px;
    width: 250px;
    height: auto;
}

.search{
    border: none;
    padding: 2px 5px 2px 5px;
    margin-right: 10px;
}

.search:hover{
    padding: 2px 5px 2px 5px;
    background: #ccc;
    border: none;
}

.topnav{
    display: flex;
    float: right;
    align-items: center;
    text-align: center;
    padding-right: 46px;
}

nav ul a{
    display: block;
    text-decoration: none;
    color: white;
}

.topnav a{
    height: 60px;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a#act {
    color: white;
    background-color: rgba(36, 31, 31, 0.7);
}

nav ul a.navb{
    width: 110px;
    text-align: center;
    justify-content: space-between;
}

.ddown{
    size: 20px;
    padding-left: 30px;
}

.logo img{
    padding-left: 60px;
    width: 200px;
    /* display: flex; */
    vertical-align: middle;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 8vh;
    right: 6vh;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}
  
.dropdown-content a{
    float: none;
    color: black;
    padding: 20px 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    align-items: center;
}
  
.dropdown-content a:hover, .dropdown:hover .ddown{
    background-color: #ddd;
    color: black;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/* untuk responsif */
.dropdown-content2{
    display: none;
    position: absolute;
    top: 8vh;
    right: 18.3vh;
    background-color: rgba(1, 1, 1, 0.7);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}
  
.dropdown-content2 a{
    float: none;
    color: white;
    padding: 20px 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    align-items: center;
}


@media screen and (max-width: 1250px){
    #el{
        display: none;
    }
    .topnav{
        padding-right: 100px;
    }
    .dropdown-content2 a:hover, .dropdown2:hover .ddown2{
        background-color: #ddd;
        color: black;
    }
      
    .dropdown2:hover .dropdown-content2{
        display: block;
    }
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 20px;
        margin-top: -5px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
    }
    .prev{
        left: 0;
        border-radius: 40px 40px 40px 40px;
    }
    .next {
        right: 0;
        border-radius: 40px 40px 40px 40px;
    }
      
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }
}
/*Header end-------------------------------------------------*/


/* Main */
main {
    height: 92.5vh;
    /* margin-top: 7.5vh; */
    background-color: #f6f6f6;
    display: flex;
}

.spacer {
    width: 100%;
    height: 65px;
    background-color: black;
}

/* Sideline */
.sideline {
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    background-color: white;
    color: darkgray;
    font-size: 1.2em;
    font-weight: 600;
    height: 92.5vh;
    width: 3vw;
    text-align: center;
    letter-spacing: 1px;
}

.sideline img {
    display: inline-block;
    border-bottom: solid 2px darkgray;
    transform: rotate(180deg);
    width: 1.8vw;
    margin-top: 8px;
}

/* Heading */
.heading-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.headline {
    position: absolute;
    font-size: 6.8vw;
    text-align: center;
    line-height: 4.95vw;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    color: #ECECEC;
    width: 97vw;
    margin: 0 auto;
}

/* Text heading */

.text-wrapper {
    width: 35%;
    margin-top: 45vh;
    margin-left: 3vw;
}

.text-wrapper h1 {
    margin: auto;
    font-size: 4vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #4d0a8d;
    line-height: 4.2vw;
}

.price-review-wrapper {
}

.price {
    display: inline-block;
    font-weight: 700;
    font-size: 2.5vw;
    margin: 3vh 2vw 3vh 0;
    color: #4b4b4b;
}

.review {
    display: inline-block;
    font-size: 1vw;
    letter-spacing: 4px;
}

.fas.fa-star {
    color: #4d0a8d;
}

.far.fa-star {
    color: darkgrey;
}

.review a {
    color: #4b4b4b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
}

.desc {
    color: #4b4b4b;
    font-weight: 600;
    font-size: 1.6vh;
    line-height: 3.5vh;
}

.desc a {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: 800;
    cursor: pointer;
    text-decoration: underline;
}

.desc a:hover {
    color: black;
}

/* Carousel heading */
.carousel-wrapper {
    position: relative;
    width: 30%;
    padding-top: 8vw;
}

.carousel-item img {
    width: 100%;
}

.hide {
    display: none;
}

.navigation-circle {
    margin-top: 2vw;
    display: flex;
    justify-content: center;
}

.circle {
    border-radius: 0.5vw;
    height: 1vw;
    width: 1vw;
    background-color: darkgrey;
    margin: 0 0.25vw;
    cursor: pointer;
}

.active {
    width: 3vw;
}

.navigation-btn-wrapper {
    margin-top: 30vh;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    color: #4d0a8d;
}

.navigation-btn-wrapper a {
    cursor: pointer;
}

.navigation-btn-wrapper a:hover {
    color: #7B2CBF;
}

.prev {
    margin-right: 1.5vw;
}

/* Sizing heading */
.sizing-wrapper {
    width: 35%;
    padding: 45vh 3vw 0;
}

.size-option-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px #4d0a8d;
    color: #4b4b4b;
    font-family: 'Montserrat', sans-serif;
}

.size-option-wrapper p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.3vw;
}

.size-option button {
    background-color: transparent;
    color: #4b4b4b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1vw;
    width: 4vw;
    cursor: pointer;
}

.selected-type {
    border-bottom: solid 5px #4d0a8d;
    padding-bottom: 1.2vw;
}

.size-wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 20vh;
    margin: 25px 0;
}

.size {
    width: 100%;
    margin: auto 0;
}

.size button {
    background-color: transparent;
    color: #4b4b4b;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1vw;
    line-height: 3.5vw;
    width: 3.5vw;
    cursor: pointer;
    margin-bottom: 3%;
    margin-right: 2%;
}

button.selected-size {
    border-radius: 50%;
    background-color: #4d0a8d;
    color: #f6f6f6;
    box-shadow: 0 0.6vw 0.7vw rgba(54, 19, 104, 0.16),
    0 0.8vw 1vw rgba(54, 19, 104, 0.13),
    0 1vw 1.2vw rgba(54, 19, 104, 0.1),
    0 1.4vw 1.3vw rgba(54, 19, 104, 0.08);
}

.sizing-wrapper a {
    margin: auto 0;
    color: #4b4b4b;
    font-weight: 900;
    font-size: 0.9vw;
    text-align: center;
    line-height: 1.2vw;
}

.buy-wrapper {
    display: flex;
}

.quantity {
    width: 50%;
    display: flex;
    padding-right: 12%;
    justify-content: space-between;
    /*background-color: red;*/
}

.quantity button {
    background-color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    font-weight: 900;
    cursor: pointer;
    color: #4d0a8d;
}

.quantity p {
    font-size: 3vw;
    font-weight: 800;
    color: #4b4b4b;
}

.buy-wrapper a {
    text-decoration: none;
    width: 50%;
    background-color: #4d0a8d;
    font-weight: 700;
    font-size: 1.2vw;
    padding: 1.2vw 0;
    border-radius: 27px;
    color: #f6f6f6;
    box-shadow: 0 0.6vw 0.7vw rgba(54, 19, 104, 0.16),
    0 0.8vw 1vw rgba(54, 19, 104, 0.13),
    0 1vw 1.2vw rgba(54, 19, 104, 0.1),
    0 1.4vw 1.3vw rgba(54, 19, 104, 0.08);
}

.overlay {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: rgba(0, 0, 0, .75)
}

.popup {
    width: 60vw;
    position: absolute;
    left: 20vw;
    top: 10vh;
    background-color: #f6f6f6;
    padding: 1vw;
    text-align: center;
}

.popup p {
    padding: 0 25%;
}

.back-btn {
    position: absolute;
    top: 1vw;
    right: 1vw;
}

.back-btn a {
    font-size: 2rem;
    cursor: pointer;
}

@media only screen and (max-width: 650px) {
    .heading-container {
        flex-direction: column;
        align-items: center;
    }

    .desc p {
        display: none;
    }

    .text-wrapper {
        margin-top: 7vh;
    }

    .carousel-wrapper {
        padding-top: 10px;
    }

    .navigation-btn-wrapper {
        margin-top: 10px;
    }

    .sizing-wrapper {
        padding-top: 20px;
    }
}

/* Buy form */
#buy-form {
    height: auto;
    width: 100vw;
    background-color: #f6f6f6;
    padding: 6% 3%;
}

.section-title {
    margin-bottom: 2vh;
}

.form-wrapper {
    width: 35%;
    margin: 0 auto;
}

.form-wrapper input, textarea {
    border-radius: 7px;
    padding: 5px;
    margin: 5px 0;
    width: 100%;
}

.form-input p {
    margin-bottom: 8px;
    font-size: 0.9rem;
    color: red;
}

.submit-btn {
    background-color: #4d0a8d;
    height: 40px;
    color: #f6f6f6;
    cursor: pointer;
    font-size: 1.5rem;
}

#gender input {
    width: 5%;
}


/*Footer start-------------------------*/
footer{
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}

.caps, .descr{
    display: flex;
    justify-content: space-evenly;
}

footer h6{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:2px
}

.about{
    text-align: justify;
    padding: 15px 100px 0px 100px;
    width: 700px;
}
.menu{
    text-align: justify;
    padding: 15px 0px 0px 0px;
}
.menu a{
    text-decoration: none;
    color:#737373
}
.add{
    text-align: justify;
    width: 700px;
    padding: 15px 100px 0px 100px;
}

footer hr{
    margin-top: 10px;
    height:1.5px;
    border-width:0px;
    color:gray;
    background-color:gray
}

.copy{
    padding: 10px 0px 0px 100px;
}

.social-icon{
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}

.social{
    justify-content: flex-end;
    height: 30px;
    margin: 10px;
}

/*Footer end-------------------------*/