/* header */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: rgba(1, 1, 1, 0.7);
    color: white;
    position: fixed;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    /* float: right; */
    /* justify-content: right; */
}

.searchbar{
    padding-left: 8px;
    width: 250px;
    height: auto;
}

.search{
    border: none;
    padding: 2px 5px 2px 5px;
    margin-right: 10px;
}

.search:hover{
    padding: 2px 5px 2px 5px;
    background: #ccc;
    border: none;
}

.topnav{
    display: flex;
    float: right;
    align-items: center;
    text-align: center;
    padding-right: 46px;
}

nav ul a{
    display: block;
    text-decoration: none;
    color: white;
}

.topnav a{
    height: 60px;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a#act {
    color: white;
    background-color: rgba(36, 31, 31, 0.7);
}

nav ul a.navb{
    width: 110px;
    text-align: center;
    justify-content: space-between;
}

.ddown{
    size: 20px;
    padding-left: 30px;
}

.logo img{
    padding-left: 60px;
    width: 200px;
    /* display: flex; */
    vertical-align: middle;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 8vh;
    right: 6vh;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}
  
.dropdown-content a{
    float: none;
    color: black;
    padding: 20px 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    align-items: center;
}
  
.dropdown-content a:hover, .dropdown:hover .ddown{
    background-color: #ddd;
    color: black;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/* untuk responsif */
.dropdown-content2{
    display: none;
    position: absolute;
    top: 8vh;
    right: 18.3vh;
    background-color: rgba(1, 1, 1, 0.7);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}
  
.dropdown-content2 a{
    float: none;
    color: white;
    padding: 20px 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    align-items: center;
}


/*Section 1*/
.bg{
    background-image: url(../Assets/Untitled-1.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Section 2*/
.trend{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #363131;
    font-size: 25px;
}

.pic{
    display: flex;
    justify-content: space-evenly;
}
  
.pic1, .pic2{
    width: 400px;
    height: 400px;

}

.pic1:hover, .pic2:hover{
    opacity: 0.7;
}
.vl{
    border-left: 3px solid gray;
    height: 400px;
    opacity: 50%;
}

.vt{
    color: grey;
    padding: 10px;
    padding-top: 120px;
    writing-mode: vertical-rl;
    font-style: italic;
    font-size: 25px;
    position: sticky;
}

.title-trend{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 25px;
}

.tt1, .tt2, .dt1, .dt2{
    width: 30%;
}

.desc-trend{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    
}

/*Section 3*/
.hlights{
    padding: 100px 50px 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #363131;
    font-size: 25px;
}
.slide{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.slider-container{
    padding-top: 10px;
    position: relative;
    max-width: 1000px;
    min-height: 564px;
    margin: auto;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 20px;
    margin-top: -5px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
}
.prev{
    border-radius: 40px 40px 40px 40px;
    left: -100px;
}
.next {
    border-radius: 40px 40px 40px 40px;
    right: -100px;
}
.prev:hover, .next:hover {
    background-color: rgba(51, 50, 50, 0.8);
    color: white;
}
.texts{
    color: black;
    font-size: 20px;
    padding: 8px 12px;
    /* position: absolute; */
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.testp{
    padding: 20px 100px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.now, .point:hover{
    background-color: #302626;
}
.point{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade{
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade{
    from {opacity: .4} 
    to {opacity: 1}
}


/* Section 3 */
.TCategories{
    padding: 100px 50px 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #363131;
    font-size: 25px;
}
.row {
    display: flex;
    padding: 0px 4px;
}
  
.column, .column2{
    flex: 50%;
    padding: 0 4px;
    width: 400px;
    height: 600px;
}
  
.column img{
    margin-top: 8px;
    vertical-align: middle;
    width: 350px;
}
.row h4{
    padding: 10px 0px 50px 0px;
    text-align: center;
}
.column2{
    justify-content: center;
    align-items: center;
}
.column2 img{
    padding: 9px 10px 9px 10px;
    height: 500px;
    width: auto;
}
/* Footer */
footer{
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}

.caps, .desc{
    display: flex;
    justify-content: space-evenly;
}

footer h6{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:2px
}

.about{
    text-align: justify;
    padding: 15px 100px 0px 100px;
    width: 700px;
}
.menu{
    text-align: justify;
    padding: 15px 0px 0px 0px;
}
.menu a{
    text-decoration: none;
    color:#737373
}
.add{
    text-align: justify;
    width: 700px;
    padding: 15px 100px 0px 100px;
}

footer hr{
    margin-top: 10px;
    height:1.5px;
    border-width:0px;
    color:gray;
    background-color:gray
}

.copy{
    padding: 10px 0px 0px 100px;
}

.social-icon{
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}

.social{
    justify-content: flex-end;
    height: 30px;
    margin: 10px;
}


@media screen and (max-width: 1250px){
    #el{
        display: none;
    }
    .topnav{
        padding-right: 100px;
    }
    .dropdown-content2 a:hover, .dropdown2:hover .ddown2{
        background-color: #ddd;
        color: black;
    }
      
    .dropdown2:hover .dropdown-content2{
        display: block;
    }
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 20px;
        margin-top: -5px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
    }
    .prev{
        left: 0;
        border-radius: 40px 40px 40px 40px;
    }
    .next {
        right: 0;
        border-radius: 40px 40px 40px 40px;
    }
      
      /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

   

}